<html>
<head>
<style>
body {
    text-align: center;
    margin-bottom: 50px;
    font-size: 10cm;
    background-color: rgb(255, 187, 255);
}
h1 {
    text-decoration-color: deeppink;
}
h5 {
    text-decoration-color:blueviolet;
}
input[type ="submit"]
{
    background-color: rgb(65, 0, 156);
    text-decoration-color: rgb(89, 0, 255);
}
footer{
    
}
   
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " /><br><br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p><br><br><br>
    <footer><h5>Created By - Pragya</h5></footer>
</body>
</html>
